* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

span {
    display: block;
}

ul, li{
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
}

/* Header */

.container .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    color: white;
    height: 75px;
}

.container .header .logo{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
    margin-left: 225px;
}

.container .header .links{
    margin-right: 225px;
}

.container .header .links ul{
    list-style: none;
    display: flex;
    gap: 20px;
}

.container .header .links ul li{
    font-size: 18px;
    color: #e5e7eb;
}

/* Hero */

.container .content .hero{
    height: 500px;
    background-color: #1F2937;
    display: flex;
    align-items: center;
    gap: 40px;
}

.container .content .hero .hero-content{
    margin-left: 225px;
}

.container .content .hero .hero-content .hero-title{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.container .content .hero .hero-content .hero-text{
    font-size: 18px;
    color: #E5E7EB;
}

.container .content .hero .hero-content .hero-button{
    background-color: #3882F6;
    padding: 8px 40px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    margin-top: 10px;
}

.container .content .hero .hero-img{
    width: 800px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #6D747D;
    margin-right: 225px;
}

/* Info */

.container .content .info {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 500px;
    gap: 20px;
}

.container .content .info span{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;  
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.container .content .info .info-list{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    flex-grow: 2;
}

.container .content .info .info-item{
    width: 150px;
}

.container .content .info .info-list .info-item .info-img{
    width: 150px;
    height: 150px;
    border: 3px solid #3B82F6;
    border-radius: 15px;
    margin-bottom: 10px;
}

.container .content .info .info-list .info-item .info-desc{
   text-align: center;
   color: #4C5664;
}

/* Quote */

.container .content .quote{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
}

.container .content .quote .quote-content{
    width: 850px;
}

.container .content .quote .quote-content .text{
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    color: #1F2937;
}

.container .content .quote .quote-content .author{
    font-size: 22px;
    font-weight: bolder;
    text-align: right;
}