@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: roboto;
}

span {
    display: block;
}

ul, li{
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
}

.container .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 30px 225px 30px 225px; */
    background-color: #1f2937;
    color: white;
    height: 50px;
}

.container .header .logo{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
    margin-left: 225px;
}

.container .links{
    margin-right: 225px;
}

.container .links ul{
    list-style: none;
    display: flex;
    gap: 15px;
}

.container .links ul li{
    font-size: 18px;
    color: #e5e7eb;
}